<div class="page-form">
  <mat-card-title class="mb-20">Sign Up</mat-card-title>
  <mat-card class="form-card" >
    <mat-form-field [class]="{ isError: errors.name }" appearance="outline">
      <mat-label>Enter your name</mat-label>
      <input [(ngModel)]="form.name" matInput>
      <mat-hint *ngIf="errors.name" class="error">{{ errors.name }}</mat-hint>
    </mat-form-field>

    <mat-form-field [class]="{ isError: errors.email }" appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input [(ngModel)]="form.email" matInput>
      <mat-hint *ngIf="errors.email" class="error">{{ errors.email }}</mat-hint>
    </mat-form-field>

    <mat-form-field [class]="{ isError: errors.password }" appearance="outline">
      <mat-label>Enter password</mat-label>
      <input [(ngModel)]="form.password" [type]="hidePassword ? 'password' : 'text'" matInput>
      <button
        mat-icon-button
        matSuffix (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint *ngIf="errors.password" class="error">{{ errors.password }}</mat-hint>
    </mat-form-field>

    <mat-form-field [class]="{ isError: errors.confirmPassword }" appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input
        [(ngModel)]="form.confirmPassword"
        [type]="hideConfirmPassword ? 'password' : 'text'"
        matInput
      >
      <button
        mat-icon-button
        matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideConfirmPassword"
      >
        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint *ngIf="errors.confirmPassword" class="error">{{ errors.confirmPassword }}</mat-hint>
    </mat-form-field>

    <app-autocomplete
      [options]="sports"
      (setOptions)="form.sports = $event"
      label="Enter the sports you do"
    ></app-autocomplete>

    <div class="form-card-buttons">
      <a mat-button color="accent" routerLink="/sign-in" routerLinkActive="active">Sign In</a>
      <button mat-raised-button color="primary" (click)="signup()">Sign Up</button>
    </div>
  </mat-card>
</div>
