<div class="page">
  <div *ngIf="isLoaded" class="page-inner mb-90">
    <div class="sport">
      <div class="sport-item" [class]="{ 'mr-50': sport.id }">
        <div class="w-100 center">
          <mat-card-title class="mb-30">New sport</mat-card-title>
        </div>
        <app-upload
          [file]="sport.image"
          [medium]="true"
          [error]="sportErrors.image"
          (upload)="sport.image = $event"
        ></app-upload>
        <mat-form-field [class]="{ isError: sportErrors.name }" appearance="outline" class="mt-20">
          <mat-label>Enter sport name</mat-label>
          <input [(ngModel)]="sport.name" matInput>
          <mat-hint *ngIf="sportErrors.name" class="error">{{ sportErrors.name }}</mat-hint>
        </mat-form-field>
        <mat-form-field [class]="{ isError: sportErrors.description }" appearance="outline">
          <mat-label>Enter description</mat-label>
          <textarea [(ngModel)]="sport.description" class="post-description" matInput></textarea>
          <mat-hint *ngIf="sportErrors.description" class="error">{{ sportErrors.description }}</mat-hint>
        </mat-form-field>
        <div class="sport-buttons">
          <a mat-button color="accent" routerLink="/sports">{{ sport.id ? 'Back' : 'Cancel' }}</a>
          <button mat-raised-button color="primary" (click)="saveSport()">Save</button>
        </div>
      </div>
      <div *ngIf="sport.id" class="sport-item">
        <div class="w-100 center">
          <mat-card-title class="mb-30">
            New
            <span *ngIf="trick.complexity" [class]="'complexity-' + trick.complexity">
              {{ trick.complexity }}
            </span>
            trick
          </mat-card-title>
        </div>
        <app-upload
          [file]="trick.file"
          [medium]="true"
          [disabled]="!trick.complexity"
          [error]="trickErrors.file"
          (upload)="trick.file = $event"
        ></app-upload>
        <mat-form-field [class]="{ isError: trickErrors.name }" appearance="outline" class="mt-20">
          <mat-label>Enter trick name</mat-label>
          <input [(ngModel)]="trick.name" matInput [disabled]="!trick.complexity">
          <mat-hint *ngIf="trickErrors.name" class="error">{{ trickErrors.name }}</mat-hint>
        </mat-form-field>
        <mat-form-field [class]="{ isError: trickErrors.description }" appearance="outline">
          <mat-label>Enter description</mat-label>
          <textarea
            [(ngModel)]="trick.description"
            class="post-description"
            matInput
            [disabled]="!trick.complexity"
          ></textarea>
          <mat-hint *ngIf="trickErrors.description" class="error">{{ trickErrors.description }}</mat-hint>
        </mat-form-field>
        <div class="sport-buttons">
          <a
            mat-button
            color="accent"
            [disabled]="!trick.complexity"
            (click)="clearTrick()"
          >
            Cancel
          </a>
          <button
            mat-raised-button
            color="primary"
            [disabled]="!trick.complexity"
            (click)="saveTrick()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="sport.id">
      <app-tricks-table
        [tricks]="easyTricks"
        type="easy"
        (create)="trick.complexity = 'easy'"
      ></app-tricks-table>
      <app-tricks-table
        [tricks]="mediumTricks"
        type="medium"
        (create)="trick.complexity = 'medium'"
      ></app-tricks-table>
      <app-tricks-table
        [tricks]="hardTricks"
        type="hard"
        (create)="trick.complexity = 'hard'"
      ></app-tricks-table>
    </div>
  </div>
</div>
