<div class="page">
  <div *ngIf="post" class="page-inner mb-90">
    <div class="w-100 center">
      <mat-card-title class="mb-30 center-title">
        <button mat-icon-button class="mr-5" (click)="location.back()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        Post
      </mat-card-title>
    </div>
    <app-post
      [post]="post"
      [isSubscribeButton]="true"
      (updateSubscription)="updateSubscription()"
      (setSportTags)="setSportTags($event)"
      (setTrickTags)="setTrickTags($event)"
    ></app-post>
    <mat-divider class="mt-10"></mat-divider>
    <div *ngIf="posts.length">
      <mat-card-title class="mt-20 mb-20">Similar posts</mat-card-title>
      <app-posts-list [posts]="posts"></app-posts-list>
    </div>
  </div>
</div>
