<div class="page">
  <div *ngIf="user" class="page-inner mb-90">
    <div class="w-100 center">
      <mat-card-title class="mb-30 center-title">
        <button mat-icon-button class="mr-5" (click)="location.back()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        Tricks
      </mat-card-title>
    </div>
    <mat-expansion-panel [(expanded)]="accordionsStates[getStateIndex(sport.id)].state" *ngFor="let sport of user.sports" class="mb-10">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ sport.name }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card-subtitle *ngIf="!sport.tricks.length" class="mb-0">
        There are no tricks in this sport yet
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="sport.tricks.length && !isUserTricks(sport) && !isCurrentUser" class="mb-0">
        There are no tricks here yet
      </mat-card-subtitle>
      <div>
        <div *ngIf="easyTricks(sport).length">
          <div class="level-easy">Easy</div>
          <div class="tricks-list">
            <div *ngFor="let trick of easyTricks(sport)" class="tricks-list-item">
              <mat-checkbox
                *ngIf="isCurrentUser"
                [checked]="isChecked(trick.id)"
                color="primary"
                (change)="addTrick(trick.id)"
              ></mat-checkbox>
              <mat-chip-list>
                <mat-chip [class]="{'ml-0': !isCurrentUser}" [routerLink]="['/trick', trick.id]">
                  {{ trick.name }}
                  <mat-icon>visibility</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>
        <div *ngIf="mediumTricks(sport).length">
          <div class="level-medium">Medium</div>
          <div class="tricks-list">
            <div *ngFor="let trick of mediumTricks(sport)" class="tricks-list-item">
              <mat-checkbox
                *ngIf="isCurrentUser"
                [checked]="isChecked(trick.id)"
                color="primary"
                (change)="addTrick(trick.id)"
              ></mat-checkbox>
              <mat-chip-list>
                <mat-chip [class]="{'ml-0': !isCurrentUser}" [routerLink]="['/trick', trick.id]">
                  {{ trick.name }}
                  <mat-icon>visibility</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>
        <div *ngIf="hardTricks(sport).length">
          <div class="level-hard">Hard</div>
          <div class="tricks-list">
            <div *ngFor="let trick of hardTricks(sport)" class="tricks-list-item">
              <mat-checkbox
                *ngIf="isCurrentUser"
                [checked]="isChecked(trick.id)"
                color="primary"
                (change)="addTrick(trick.id)"
              ></mat-checkbox>
              <mat-chip-list>
                <mat-chip [class]="{'ml-0': !isCurrentUser}" [routerLink]="['/trick', trick.id]">
                  {{ trick.name }}
                  <mat-icon>visibility</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <div *ngIf="isCurrentUser && filteredSports.length" class="add-sport">
      <app-autocomplete-single
        #addSportInput
        [options]="filteredSports"
        label="Add new sport"
        appearance="fill"
        (updateValue)="selectedSport = $event"
      ></app-autocomplete-single>
      <button
        class="add-sport-button"
        mat-raised-button
        color="primary"
        [disabled]="!selectedSport"
        (click)="addSport()"
      >
        Add
      </button>
    </div>
  </div>
</div>
