<div class="page">
  <div *ngIf="isLoaded" class="page-inner mb-90">
    <div class="w-100 center">
      <mat-card-title class="mb-30">{{ subscriptions.length ? 'Subscriptions' : 'No subscriptions yet' }}</mat-card-title>
    </div>
    <div *ngIf="subscriptions.length" class="subscriptions-wrapper">
      <div class="subscriptions">
        <app-avatar
          *ngFor="let user of subscriptions; let i = index"
          [user]="user"
          [isName]="true"
          [class]="i > 0 ? 'ml-10' : ''"
        ></app-avatar>
      </div>
      <app-post
        *ngFor="let item of posts; let i = index"
        [post]="item"
        [class]="i > 0 ? 'mt-40' : ''"
        (setSportTags)="setSportTags($event)"
        (setTrickTags)="setTrickTags($event)"
        (updateRating)="updateRating(item.id, $event)"
      ></app-post>
    </div>
  </div>
  <app-filters
    #filtersComponent
    *ngIf="isPostsLength"
    (search)="search($event)"
    (setSports)="setSports($event)"
    (setTricks)="setTricks($event)"
  ></app-filters>
</div>
