<div class="page-form">
  <mat-card-title class="mb-20">Theme settings</mat-card-title>
  <mat-card class="form-card">
    <mat-form-field appearance="outline">
      <mat-label>Font style</mat-label>
      <mat-select [(ngModel)]="form.font">
        <mat-option *ngFor="let item of fontStyles" [value]="item.value">
          {{ item.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-card-subtitle class="mb-5">Background image</mat-card-subtitle>
    <app-upload
      [small]="true"
      [file]="form.backgroundImage"
      (upload)="form.backgroundImage = $event"
    ></app-upload>
    <div class="form-card-button-right mt-20">
      <button mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
  </mat-card>
</div>
