<div class="page">
  <div *ngIf="isProfile || user" class="page-inner mb-90">
    <div class="w-100 center">
      <mat-card-title class="mb-30">{{ isProfile ? 'Profile' : 'User' }}</mat-card-title>
    </div>
    <div class="user-info-wrapper">
      <div class="user-info">
        <div *ngIf="!isProfile" class="user-avatar-wrapper">
          <div class="user-avatar">
            <img *ngIf="user.avatar" [src]="apiUrl + user.avatar" class="user-avatar-image" alt="">
            <mat-icon *ngIf="!user.avatar" class="user-avatar-icon">account_circle</mat-icon>
          </div>
        </div>
        <div *ngIf="isProfile" class="user-avatar-upload">
          <div class="user-avatar-upload-inner">
            <app-upload [file]="form.avatar" [small]="true" (upload)="setAvatar($event)"></app-upload>
          </div>
        </div>
        <div class="user-info-data">
          <div class="user-info-container">
            Name:&nbsp;
            <span *ngIf="!isEditNameMode">{{ isProfile ? form.name : user.name }}</span>
            <input
              *ngIf="isEditNameMode"
              [(ngModel)]="form.name"
              class="user-info-edit-input"
              (change)="updateProfile()"
              (blur)="blurName()"
              #nameField
            >
            <div *ngIf="isProfile && !isEditNameMode" class="user-info-edit-wrapper">
              <mat-icon color="primary" class="user-info-edit" (click)="editName()">edit</mat-icon>
            </div>
          </div>
          <div *ngIf="isProfile" class="user-info-container">
            Email:&nbsp;
            <span *ngIf="!isEditEmailMode">{{ form.email }}</span>
            <input
              *ngIf="isEditEmailMode"
              [(ngModel)]="form.email"
              class="user-info-edit-input"
              (change)="updateProfile()"
              (blur)="blurEmail()"
              #emailField
            >
            <div *ngIf="!isEditEmailMode" class="user-info-edit-wrapper">
              <mat-icon color="primary" class="user-info-edit" (click)="editEmail()">edit</mat-icon>
            </div>
          </div>
          <div *ngIf="userSports.length">User sports:</div>
          <div *ngIf="userSports.length">
            <mat-chip-list>
              <mat-chip *ngFor="let item of userSports.slice(0, 3)">
                {{ item.name }}
              </mat-chip>
              <mat-chip
                *ngIf="userSports.length > 3"
                [routerLink]="['/sports-tricks', isProfile ? authService.user.id : user.id]"
              >
                ...
              </mat-chip>
            </mat-chip-list>
          </div>
          <div>Subscribers: {{ subscribers }}</div>
          <div>Posts: {{ posts.length }}</div>
        </div>
        <div class="user-buttons">
          <button
            mat-raised-button color="base"
            [routerLink]="['/sports-tricks', isProfile ? authService.user.id : user.id]"
          >
            Sports and tricks
          </button>
          <button
            *ngIf="!isProfile"
            mat-raised-button
            [color]="!user.isSubscribed ? 'primary' : null"
            (click)="subscribe()"
          >
            {{ !user.isSubscribed ? 'Subscribe' : 'Unsubscribe' }}
          </button>
          <button
            *ngIf="isProfile"
            mat-raised-button
            color="base"
            (click)="authService.logout()"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
    <app-posts-list [posts]="posts"></app-posts-list>
  </div>
</div>
