<div class="post">
  <div class="post-image-wrapper">
    <img
      *ngIf="!globalService.isVideo(trick.file)"
      [src]="apiUrl + trick.file"
      alt="post-image"
      class="post-video"
    >
    <video
      *ngIf="globalService.isVideo(trick.file)"
      [src]="apiUrl + trick.file"
      class="post-video"
      controls
    ></video>
  </div>
  <div>
    <div class="post-title-wrapper">
      <mat-card-title class="mb-0">{{ trick.name }}</mat-card-title>
      <button
        *ngIf="isAvailableForCurrentUser"
        mat-raised-button
        [color]="isChecked ? null : 'primary'"
        (click)="addTrick()"
      >
        {{ isChecked ? 'Completed' : 'Mark as done' }}
      </button>
    </div>
    <mat-card-subtitle class="mt-10">{{ trick.description }}</mat-card-subtitle>
  </div>
</div>
