<div class="post">
  <div class="post-inner">
    <div class="post-image-wrapper">
      <img [src]="apiUrl + sport.image" alt="post-image" [routerLink]="['/sport', sport.id]" class="post-image">
    </div>
    <div>
      <div class="post-title-wrapper">
        <mat-card-title class="mb-0">{{ sport.name }}</mat-card-title>
        <div>
          <button mat-icon-button [routerLink]="['/sport', sport.id]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <mat-card-subtitle class="mt-10">{{ sport.description }}</mat-card-subtitle>
    </div>
  </div>
</div>
