<div>
<!--  App component-->
<!--  <ul>-->
<!--    <li><a routerLink="/test-routing" routerLinkActive="active">test-routing</a></li>-->
<!--    <li><a routerLink="/products" routerLinkActive="active">products</a></li>-->
<!--  </ul>-->
  <div class="app-logo" routerLink="/">
    <div class="app-logo-inner">
      Angular / Nest
    </div>
  </div>
  <div
    *ngIf="(authService.isLoggedIn$ | async) && authService.isAdmin"
    class="app-logout"
    (click)="authService.logout()"
  >
    <div class="app-logo-inner">
      Logout
    </div>
  </div>
  <router-outlet></router-outlet>
  <app-toolbar *ngIf='(authService.isLoggedIn$ | async) && !authService.isAdmin'></app-toolbar>
</div>
