<div class="posts-list-wrapper">
  <div class="posts-list">
    <div class="posts-list-item">
      <app-sport></app-sport>
    </div>
    <div class="posts-list-item">
      <app-sport></app-sport>
    </div>
    <div class="posts-list-item">
      <app-sport></app-sport>
    </div>
    <div class="posts-list-item">
      <app-sport></app-sport>
    </div>
    <div class="posts-list-item">
      <app-sport></app-sport>
    </div>
    <div class="posts-list-item">
      <app-sport></app-sport>
    </div>
    <div class="posts-list-item">
      <app-sport></app-sport>
    </div>
    <div class="posts-list-item">
      <app-sport></app-sport>
    </div>
    <div class="posts-list-item">
      <app-sport></app-sport>
    </div>
  </div>
</div>
