<div class="post">
  <div class="post-image-wrapper" [ngClass]="{'post-image-wrapper-small': small}">
    <mat-card-title *ngIf="small" class="post-label mb-0" [routerLink]="['/post', post.id]">{{ post.title }}</mat-card-title>
    <img
      *ngIf="!globalService.isVideo(post.file)"
      [src]="apiUrl + post.file"
      alt="post-image"
      class="post-image"
      [routerLink]="['/post', post.id]"
    >
    <video
      *ngIf="globalService.isVideo(post.file)"
      [src]="apiUrl + post.file"
      [muted]="true"
      class="post-image"
      autoplay
      loop
      [routerLink]="['/post', post.id]"
    ></video>
    <div *ngIf="!small">
      <div class="post-avatar">
        <app-avatar [user]="post.user"></app-avatar>
      </div>
      <mat-chip-list class="post-tags">
        <mat-chip *ngIf="post.sport" (click)="setSportTags.emit(post.sport.id)">
          {{ post.sport.name }}
        </mat-chip>
        <mat-chip *ngIf="post.trick" (click)="setTrickTags.emit(post.trick.id)">
          {{ post.trick.name }}
        </mat-chip>
      </mat-chip-list>
      <div class="post-rating">
        <button mat-mini-fab color="primary" class="post-rating-item">
        <span class="post-rating-item-inner">
          <span class="post-rating-item-icon">
          <mat-icon>thumb_up</mat-icon>
          </span>
          <span class="post-rating-item-count">100</span>
        </span>
        </button>
        <button mat-mini-fab color="primary" class="post-rating-item ml-10">
        <span class="post-rating-item-inner">
          <span class="post-rating-item-icon">
          <mat-icon>thumb_down</mat-icon>
          </span>
          <span class="post-rating-item-count">5</span>
        </span>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!small">
    <div class="post-title-wrapper">
      <mat-card-title class="mb-0">{{ post.title }}</mat-card-title>
      <button
        *ngIf="isSubscribeButton"
        mat-raised-button color="primary"
        [color]="!post.user.isSubscribed ? 'primary' : null"
        (click)="subscribe()"
      >
        {{ !post.user.isSubscribed ? 'Subscribe' : 'Unsubscribe' }}
      </button>
    </div>
    <mat-card-subtitle *ngIf="post.description" class="mb-0">
      {{ post.description }}
    </mat-card-subtitle>
  </div>
</div>
